<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">

<head th:replace="~{fragments/head :: head(~{::title},~{})}">
    <title>Venda</title>
</head>
<body>
<main>
    <h1>Detalhes da Venda</h1>
    <fieldset>
        <legend>Itens</legend>
        <table border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Total</th>
            </tr>
            </thead>
            <tr th:each="item : ${venda.itensVenda}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.produto.descricao}"></td>
                <td th:text="${item.quantidade}"></td>
                <td th:text="'R$ '+${item.produto.preco}"></td>
                <td th:text="'R$ '+${item.total()}"></td>
            </tr>
        </table>
        <p>Data: <span th:text="${venda.data}"></span></p>
        <p>Total: <span th:text="'R$ '+${venda.total()}"></span></p>
    </fieldset>
</main>
</body>
</html>